<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="description" content="Find the latest job listings and apply directly through our platform.">
    <meta name="keywords" content="jobs, job listings, careers, employment">
    <meta name="author" content="Your Company Name">
</head>

<body>
    <h1>Job Listings</h1>
    <div class="job-listings">
        {% for job in jobs %}
        <div class="job-listing" role="region" aria-labelledby="job-title-{{ job[0] }}">
            <div class="job-header">
                <h2 id="job-title-{{ job[0] }}">{{ job[1] }}</h2>
                {% if job[6] != 'Logotipo não encontrado' %}
                <img src="{{ job[6] }}" alt="Company Logo">
                {% endif %}
            </div>
            <p><strong>Company:</strong> {{ job[2] }}</p>
            <p><strong>Location:</strong> {{ job[3] }}</p>
            <p><strong>Tags:</strong> {{ job[7] }}</p> <!-- Exibir as tags aqui -->
            <div class="buttons">
                <a href="{{ job[4] }}" target="_blank" class="button view-button" aria-label="View Job">View Job</a>
                <button onclick="toggleDescription('{{ job[0] }}');" class="button description-button" aria-expanded="false" aria-controls="description-{{ job[0] }}">View Description</button>
            </div>
            <div id="description-{{ job[0] }}" class="description" style="display: none;">
                {{ job[5]|safe }}
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        function toggleDescription(jobId) {
            var desc = document.getElementById('description-' + jobId);
            var button = document.querySelector(`[aria-controls='description-${jobId}']`);
            if (desc.style.display === "none") {
                desc.style.display = "block";
                button.setAttribute('aria-expanded', 'true');
                removeShowButtons(desc);
            } else {
                desc.style.display = "none";
                button.setAttribute('aria-expanded', 'false');
            }
        }

        function removeShowButtons(container) {
            var showMoreButton = container.querySelector('.show-more-less-html__button--more');
            var showLessButton = container.querySelector('.show-more-less-html__button--less');
            if (showMoreButton) showMoreButton.style.display = 'none';
            if (showLessButton) showLessButton.style.display = 'none';
        }
    </script>
</body>

</html>
